/*whole page */ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


html{
    background-color: white;
    color: #555555;
    font-family: 'lato','Arial' ,sans-serif;
    font-size: 20px;
    font-weight:300;
    text-rendering: optimizeLegibility;
}

.row{
    max-width: 1140px;
     margin: 0 auto;
}

.clearfix{zoom: 1}

.clearfix{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

/* ........................................... */
                /*Header*/        
/* ........................................... */

header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(resources/img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
h1,h2,h3{
    font-weight: 300;
    text-transform: uppercase;
    
   
}


h1{
    
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
     word-spacing: 4px;
    letter-spacing: 1px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}


.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/* ........................................... */
                    /*P*/        
/* ........................................... */

.long-copy{
    line-height: 154%;
    width: 70%;
    margin-left: 15%;
}



/* ........................................... */
                    /*Logo*/        
/* ........................................... */



.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
    
}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
    
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
     border-bottom: 2px solid #e67e22 transparent;
    transition: border-bottom 0.2s;

}


.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;


}


/* ........................................... */
                /*Header Buttons*/        
/* ........................................... */



.btn:link ,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: background-color 1.0s,border 0.2s, color 0.2s ;
}

.btn-full:link,
.btn-full:visited{
    background-color: #e67e22;
    border: 1px solid #e67e22;
     color: #fff;
    margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
     color: #e67e22;
}


.btn:hover, 
.btn:active{
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active{
    
    border: 1px solid #cf6d17;
     
}
.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #cf6d17;
     color: #fff;
}

/* ........................................... */
                    /*col-span-of-4*/        
/* ........................................... */

.span-1-of-4{
    width: 23.8%;
}


/* ........................................... */
                    /*Section Feautre*/        
/* ........................................... */

section{
    padding: 80px 0;
   
}

.box{
    padding: 2%;
}

.box p{
    line-height: 140%;
    font-size: 90%;
}


/* ........................................... */
                    /*Icons*/        
/* ........................................... */

.icon-big{
     display: block;
    font-size: 250%;
    color: #e76e22;
    margin-bottom: 10px;
}


/* ........................................... */
            /*Section Meals-showcase*/        
/* ........................................... */


.meals-showcase{
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: right;
    width: 25%;
}
.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}
.meal-photo img{
    opacity: 0.7;
    width: 100%; 
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s , opacity 0.5s;
}
.meal-photo img:hover{
    opacity: 1;
    transform: scale(1.05);
}

/* ........................................... */
            /*Section How it works*/        
/* ........................................... */


.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
     margin-top: 30px;
    
}

.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;    
}

.app-screen{
    width: 80%;
  
}

.works-step{
    margin-bottom: 50px;
}

.works-step:last-of-type{
    margin-bottom:80px;
}


.works-step div{
    color: #e67e22;
    border:2px  solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 150%;
    padding: 5px;
    float: left;
    margin-left: 25px;
    margin-right: 25px;
    
}

.btn-app img{
    height: 50px;
    width: auto;
    margin-top: 10px;
}


/* ........................................... */
            /*Section Cities*/        
/* ........................................... */

.box img{
    width:90%;
    height: auto;
    margin-bottom: 20%;
    margin-left: 20%;
}
.section-cities{
    margin-top: 40%;
  
}

/* ........................................... */
            /*Section Cities*/        
/* ........................................... */

.section-testimonals{
    margin-top: 25%;
    margin-bottom: 5%;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(resources/img/back-customers.jpg);
    background-size: cover;
    height: 90vh;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-family: cursive;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

cite{
    font-size: 90%;
    margin-top: 25px;
}

blockquote:before{
    content: "\201C";
    font-size: 300%;
    display: block;
    position: absolute;
    top: 7px;
    left: -17px;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}



/* ........................................... */
            /*Signup*/        
/* ........................................... */



.plan-box{
    background-color: #f0f0f0;
    border-radius: 5px;
    width: 100%;
    margin-left: 5%;
  
}
.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #fff;
}

.plan-price{
    font-size: 260%;
    margin-bottom: 10px;
    
}

.plan-price span{
    color: #e67e22;
    font-size: 100%;
    font-weight: bold;
}

.plan-box div:last-child{
    
    text-align: center;
}
.plan-box ul{
    list-style: none;
}

.plan-box ul li{
    padding: 8px 0;
}

.margin-left{
    margin-left: 30px;
}


/* ........................................... */
            /*Contact Form*/        
/* ........................................... */

.contact-form{
    margin-bottom: 5%;
    width: 80%;
}

/* ........................................... */
                /*Footer*/        
/* ........................................... */


footer{
    background-color: #272727;
    color:#717171;
    
}
.footer-nav {
    list-style: none;
    float: left;
}

.social-links{
    list-style: none;
    float: right;
    margin-left: 522px;
    padding: 10px;
}

.footer-nav li ,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child ,
.social-links li:last-child{
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited
{
    text-decoration: none;
    border: 0;
    color: #6d6d6d;
    transition: color 1.10s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
}
footer p {
    color: #888;
    text-align: center;
    font-size: 90%;
}
